html, body {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    position: relative;
    height: 615px;
    width: 100%;
    background-image: url(yoll3.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 20px;
}
.yazi {
    width: 200px;
}
span {
    color: blue;
}
.container h3 {
    padding-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container span {
    padding-left: 100px;
}