ul li .active {
    background-color: #898989;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 10px;
}
.container {
    width: 100%;
    height: 835px;
    margin-top: 120px;
}
.container h3 {
    padding-left: 60px;
}
.container p {
    padding-top: 20px;
    padding-left: 5px;
}
.card {
    display: inline-block;
    margin: 10px;
}
.container2 {
    margin-top: 120px;
}
.im1 {
    background-image: url(hack.jpg);
    height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-top: 120px;
}
.h2 {
    padding-top: 50px;
}
.image {
    margin-top: 120px;
    width: 100%;
    height: 100vh;
}
.img {
    margin-bottom: 50px;
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
}
.img:hover {
    text-shadow: 6px 6px 16px black;
}
.img1 {
    background-image: url(hacker1.jpg);
    background-position: center;
    background-size: cover;
}
.img2 {
    background-image: url(hacker2.jpg);
    background-position: center;
    background-size: cover;
}
.img3 {
    background-image: url(hacker3.jpg);
    background-position: center;
    background-size: cover;
}
.img4 {
    background-image: url(hacker4.jpg);
    background-position: center;
    background-size: cover;
}
.img5 {
    background-image: url(hacker5.jpg);
    background-position: center;
    background-size: cover;
}
.img6 {
    background-image: url(hacker6.jpg);
    background-position: center;
    background-size: cover;
}
.img7 {
    background-image: url(hacker7.jpg);
    background-position: center;
    background-size: cover;
}
.img8 {
    background-image: url(hacker8.jpg);
    background-position: center;
    background-size: cover;
}
.img9 {
    background-image: url(hacker9.jpg);
    background-position: center;
    background-size: cover;
}
.img10 {
    background-image: url(hacker10.jpg);
    background-position: center;
    background-size: cover;
}
.img11 {
    background-image: url(hacker11.jpg);
    background-position: center;
    background-size: cover;
}
.img12 {
    background-image: url(hacker12.jpg);
    background-position: center;
    background-size: cover;
}
.a1:hover {
    background-color: #898989;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
}
.container3 {
    width: 100%;
    height: 100vh;
    margin-top: 100px;
}
.box {
    background-image: url(contac.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: 10px;
    border-radius: 20px;
}
@media (max-width: 600px) {
    .img {
        background-position: center;
        background-size: cover;
        margin-left: 70px;
        width: 250px;
        height: 250px;
    }
}